<a href="https://colab.research.google.com/github/deiveleal/DataScience/blob/master/Portfolio/HelloWorld/titanic_survived.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import binarize, Binarizer

In [2]:
url_train_file = "https://raw.githubusercontent.com/deiveleal/DataScience/master/Portfolio/HelloWorld/DataSets/train.csv"
url_test_file = "https://raw.githubusercontent.com/deiveleal/DataScience/master/Portfolio/HelloWorld/DataSets/test.csv"

In [3]:
#Importação dos dados de treino e teste
df_titanic_train = pd.read_csv(url_train_file)
df_titanic_test = pd.read_csv(url_test_file)

In [4]:
#Visualização dos dados de treino
df_titanic_train.head(3)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [5]:
#Visualização dos dados de teste
df_titanic_test.head(3)

   PassengerId  Pclass                              Name  ...    Fare  Cabin  Embarked
0          892       3                  Kelly, Mr. James  ...  7.8292    NaN         Q
1          893       3  Wilkes, Mrs. James (Ellen Needs)  ...  7.0000    NaN         S
2          894       2         Myles, Mr. Thomas Francis  ...  9.6875    NaN         Q

[3 rows x 11 columns]

In [6]:
#Verifica a quantidade de valores missing do dataframe
print("Variáveis com valores faltando:\n{0}\n".format(df_titanic_train.isna().sum()))

Variáveis com valores faltando:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
#Preenche os valores missing da variável idade com a média de idade presente na coluna
df_titanic_train['Age'].fillna(df_titanic_train['Age'].mean(), inplace=True)

#Testa se ainda há valores missing na variável
print(f'Valores ausentes na variável age: {df_titanic_train.Age.isna().sum()}')

Valores ausentes na variável age: 0

In [8]:
#Binariza a variável sex com 0 para male e 1 para female
for sexo in range(0, len(df_titanic_train.Sex)):
    if df_titanic_train['Sex'][sexo] == 'male':
        df_titanic_train['Sex'][sexo] = 0
    else:
        df_titanic_train['Sex'][sexo] = 1
# sexo for sexo in range(0, len(df_titanic_train.Sex)): if df_titanic_train['Sex'][sexo] == 'male'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
#Testa a binarização
df_titanic_train.Sex.value_counts()

0    577
1    314
Name: Sex, dtype: int64

In [10]:
#Separação em dados de treino e de validação
X_titanic_train, X_titanic_valid, y_titanic_train, y_titanic_valid = train_test_split(df_titanic_train.drop(['Survived','PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1), df_titanic_train['Survived'],test_size=0.30, random_state=42)

## Implementa o modelo Random Forest Classifier

In [11]:
#Instancia o classificador
random_forest_classifier = RandomForestClassifier(n_estimators=100,n_jobs=1)

In [12]:
#Treina o modelo
model_random_forest_classifier = random_forest_classifier.fit(X_titanic_train, y_titanic_train)

In [13]:
#Primeira avaliação da classificação
model_random_forest_classifier.score(X_titanic_valid, y_titanic_valid)

0.7873134328358209

In [14]:
#Treino dos valores para validação
y_titanic_predict = model_random_forest_classifier.predict(X_titanic_valid)

In [15]:
#Score com previsão e validação
mean_squared_error(y_titanic_valid, y_titanic_predict)

0.2126865671641791

## Separa os dados de previsão do data set de teste

In [16]:
X_test = df_titanic_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [17]:
# Apresenta algumas linhas do arquivo
print(f"Visualização das primeiras 3 linhas do arquivo:\n{X_test.head(3)}\n")

Visualização das primeiras 3 linhas do arquivo:
   Pclass     Sex   Age  SibSp  Parch    Fare
0       3    male  34.5      0      0  7.8292
1       3  female  47.0      1      0  7.0000
2       2    male  62.0      0      0  9.6875

In [18]:
#Binariza a variável sex com 0 para male e 1 para female
for sexo in range(0, len(X_test.Sex)):
    if X_test['Sex'][sexo] == 'male':
        X_test['Sex'][sexo] = 0
    else:
        X_test['Sex'][sexo] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
#Preenche os valores missing da variável idade com a média de idade presente na coluna
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

In [20]:
#verifica se ainda há valores ausentes
print(f'Valores ausentes nas variáveis de teste:\n{X_test.isna().sum()}')

Valores ausentes nas variáveis de teste:
Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [21]:
survived_forest  = model_random_forest_classifier.predict(X_test)

In [22]:
survived_forest

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [23]:
df_survived_predict_test = pd.DataFrame(df_titanic_test.PassengerId)
df_survived_predict_test['Survived'] = pd.DataFrame(survived_forest)

In [31]:
df_survived_predict_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [25]:
#Exportação dos dados para inserção no kaggle
df_survived_predict_test.to_csv('forest_test_20200611.csv', index=False)